<div class="container">
<div class="content">
<h1>Edit Your Plot</h1>

<form method="POST" action="/plots/<%= @plot.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="title">Title:</label>
<input type="text" name="title" value="<%= @plot.title %>"><br><br>

<label for="summary">Summary:</label>
<textarea name="summary"><%= @plot.summary %></textarea><br><br>

<input type="submit" value="Edit" class="button is-success">
</form>
</div>
</div>