<h1>Your Plots</h1>

<% @plots.each do |plot|%>
    <a href="/plots/<%= plot.id %>"><%= plot.title %></a>
<% end %>

<!-- This is not showing up as an ordered list, but it works for now, so I'll move on.-->