<h1>Create a New Plot</h1>

<form method="POST" action="/plots">
<label for="title">Title:</label>
<input type="text" name="title"><br><br>

<label for="summary">Summary:</label>
<textarea name="summary"></textarea>

<input type="submit" value="Create">
</form>