<h1>Welcome to Plot Manager</h1>

<% if flash[:signup_failed] %>
    <%= flash[:signup_failed] %>
<% elsif flash[:login_failed] %>
    <%= flash[:login_failed] %>
<% end %>

<h2>Please Login Below</h2>

<form method="POST" action="/login">
<label for="name">Name:</label>
<input type="text" name="name"><br><br>

<label for="email">Email:</label>
<input type="text" name="email"><br><br>

<label for="password">Password:</label>
<input type="text" name="password"><br><br>

<input type="submit" value="Login">
</form>

<br> 

<a href="/signup">Sign Up Here</a>